<div class="btn-group box" style="width: 100%">
  <%= form_tag invoice_path(@invoice), method: :get do %>
    <button formaction=" <%= invoice_path(@invoice, format: 'pdf') %>" ,type="submit" , class="btn btn-default">Download
      Invoice
    </button>
    <%#= link_to 'send invoice', send_invoice_path(invoice: @invoice.id), class: 'btn btn-success', data: {confirm: 'Are you sure you want to send this invoice'} %>

    </div>
  <% end %>



  <div class=" pdf-background ">
    <%= render 'show_invoice' %>
  </div>
