<table class="table table-sm table-striped  work-table center" style="width: 90%;  ">
  <tr class="grey_background">
    <th>Date worked</th>
    <th>Hours</th>
    <th>Rate</th>
    <th>Description</th>
    <th>Sub Total</th>


  </tr>
  <% @works.each_with_index do |work, i| %>
    <tr>
      <td><%= work.time_period&.strftime("%A %b %d ") %></td>
      <td><%= seconds_to_hms(work.hour) %></td>
      <td>$<%= work.user.rate(work&.time_period) %></td>
      <td><%= work.description %></td>
      <td>$<%= @row_total[i].round(2) %></td>
    </tr>

  <% end %>
  <tr>
    <td></td>
    <td></td>
    <td>Total hours <%= (@works.sum(:hour) / 3600)&.round(2) %></td>
    <td></td>
    <td>
      <% if @invoice.tax_rate.present? %>
        <% tax_amount = (@total * @invoice.tax_rate) %>
        <% @total = @total + tax_amount %>
        <%= @invoice.tax_rate_label %>
        $<%= tax_amount.round(2) %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>total $<%= @total.round(2) %> </td>

  </tr>
</table>
