<div class="alwaysbreak" style="">
  <% invoice_configuration =  @company.invoice_configuration %>

  <div style="position: absolute; right: 10px;border: 1px solid black; width: 300px;padding: 10px;font-size: 16px">

    <div class="info_row"> Invoice number: <strong><%= @invoice.id %></strong></div>
    <div class="info_row"> Period:
    <strong><%= @works.first.time_period&.strftime("%d/%m/%Y") if @invoice.time_sheets.first.present? %> To
      <%= @works.last.time_period&.strftime("%d/%m/%Y") if @invoice.time_sheets.last.present? %></strong></div>
    <div class="info_row">Balance: <strong>$<%= @total.round(2) %></strong></div>
    <div class="info_row">Pay Before:
      <strong> <%= (@invoice.invoice_date + 2.weeks).strftime("%d/%m/%Y") %></strong></div>
  </div>
  <table style="width: 100%; ">
    <tr class=" ">
      <td>
        <h1 style="font-weight: bold; font-size: 40px">Tax Invoice</h1>
      </td>
      <td>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <h2>Bill to: <%= @project.try(:customer).try(:full_name) %></h2>
        <p><%= @project.try(:customer).try(:address) %> <br>
         <h2> ABN: <%= @project.try(:customer).try(:abn) %></h2>
        </p>
        <p>
        <h2><%= current_user.company.name %> </h2>
        <%= current_user.company.address %> <br>
        ABN: <%= current_user.company.abn %>
        </p>
      </td>
    </tr>
    <tr>
      <td colspan="2" style="">
        <%= render 'invoices/invoice_table.html.erb' %>
    <tr>
    </tr>
  </table>
  <div class="">
    <hr>
    <% if invoice_configuration.present? && invoice_configuration.disclaimer.present? %>
    <p style="font-size: .5em ; padding-left: 10px; padding-right: 20px">
      <%= invoice_configuration.disclaimer %>
    </p>
      <% else %>
      Configure disclaimer <%= link_to 'here', admin_invoice_configurations_path %>
      <% end %>
    <hr>
  </div>
</div>


<style>

</style>
