<div class="header-box">
  <h1 style="margin-top: 5px">Invoices</h1>
  <div style="position: absolute;top: 15px;right: 5px">
    <%= link_to 'New Invoice', new_invoice_path(), class: 'btn btn-primary' %>
  </div>

  <div class="row-li">
    <div class="col-xs-5 col-md-5"><strong>Invoice No#</strong></div>
    <div class="col-xs-5 col-md-5"><strong>Customer: </strong></div>
  </div>
</div>


<div>
  <ul class="list-clickable">
    <%= render @invoices %>
  </ul>
  <%= will_paginate @invoices %>
</div>
<br>

