<div class="box" style=" padding: 0px">
  <div style="position: absolute; right: 5px; top: 15px">
    <%= form_tag new_invoice_url, class: 'form-group ', method: :get do %>
      <%= select_tag(:project_id, options_for_select(Project.select_attributes, @project.id), :onchange => "this.form.submit();", class: 'btn btn-default form-control col-lg-4 ') %>
    <% end %>
  </div>

  <table style="margin-top: 0px">
    <tr class="pdf-tr ">
      <td class="pdf-td" style="padding-left: 10px;padding-top: 0px"><h1>Tax Invoice</h1>
      </td>
      <td class="pdf-td">
        <div align="right" style="padding: 10px;margin-top: 15px">
          <h3>For time period</h3>
          <%= @work&.first&.time_period&.strftime("%d/%m/%Y") if @work&.first&.present? %>|
          <%= @work&.last&.time_period&.strftime("%d/%m/%Y") if @work&.last&.present? %>
        </div>
      </td>
    </tr>
  </table>
  <div style="margin-top: 10px; padding: 10px">
    <table style="width: 100%; ">

      <tr>
        <td colspan="2">
          <h2>Bill to: <%= @project.try(:customer).try(:full_name) %></h2>
          <p><%= @project.try(:customer).try(:address) %> <br>
            ABN: <%= @project.try(:customer).try(:abn) %></p>

          <p>
          <h2><%= current_user.company.name %> </h2>
          <%= current_user.company.address %> <br>
          ABN: <%= current_user.company.abn %></p>
        </td>
      </tr>

    </table>
    <div id="invoice-partial">
      <%= render 'shared/time_sheets_for_week', work: @work %>
    </div>

    <div style="padding:10px; position: relative;display:block">
      <div style="margin-right: 20px; margin-left: auto;width: 100px">
        <%= form_for Invoice.new, class: 'form-group  ' do |f| %>
          <%= f.hidden_field :project_id, value: @project&.id %>
          <%= f.submit "Save Invoice", class: 'btn btn-default', data: { confirm: 'are you sure?' } %>
        <% end %>
      </div>
    </div>
  </div>
</div>
