<div class="landing-page">
  <div class="heading-landing" style="flex-direction: row; align-content: center;">
    <div class="heading-container">
      <div class="heading-title"style="">SoupCloud</div>
      <div style="position: absolute;right: 0px;top:10px;">
        <%= form_for resource, as: resource_name, url: user_session_path do |f| %>
          <% flash.each do |key, value| %>
            <div style="color: white;text-align: center">
              <%= value %>
            </div>
          <% end %>
          <div style="margin-right: 14px">
            <div style="display: inline;">
              <%= f.label :email, style: 'color: white' %>
              <%= f.text_field :email, autofocus: true %>
            </div>

            <div style="display: inline">
              <%= f.label :password, style: 'color: white' %>
              <%= f.password_field :password, autocomplete: "off" ,id: :password_field, style: 'width: 200px' %>
              <i id='eye_icon' class="fa fa-eye show_password_button" style="color: white"></i>
            </div>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="field" style="display: inline;>

              <%= f.check_box :remember_me, style: 'color: white;' %>
              <%= f.label :remember_me , style: 'color: white'%>
            </div>
          <% end -%>

          <div class="actions" style="display: inline;position: absolute; right: 15px">
            <%= link_to  new_user_registration_path do %>
              <button style="color: black" type="button">Register</button>
            <% end %>

            <%= f.submit "Log in" %>
          </div>
        <% end %>

      </div>
    </div>
  </div>


    <div class="landing-body" style="margin-top:50px!important;">

      <div style="display: inline-block">
        <%= image_tag 'timesheet.png', height: 200, width: 500, style: 'margin: 40px' %>
      </div>
      <div style="margin: 40px;font-size: 30px;display: inline-block">
        Easily record work hours
      </div>
    </div>

  <div class="landing-body-alt">
    <div style=" position: absolute;margin: 40px;font-size: 30px;width: 800px">
     Chat with co-workers
    </div>
    <div style=" position: absolute; right: 0px;margin-left: 300px ">
      <%= image_tag 'chat.png', height: 400, width: 400,style: 'margin:20px' %>

    </div>
  </div>

  <div class="landing-body" style="position: relative">
    <div style=" position: absolute;margin: 40px;font-size: 30px;width: 800px">
      <%= image_tag 'invoice.png', height: 200, width: 500, style: 'margin: 40px' %>

    </div>
    <div style="margin: 40px;font-size: 30px;position: absolute; right: 30px;top: 100px">
      Invoice work hours
    </div>
  </div>
</div>


</div>

<script type="text/javascript" charset="utf-8">
    const password_field = document.getElementById('password_field')
    const icon = document.getElementById('eye_icon')
    icon.onclick = () => {
        if (password_field.type === 'password') {
            password_field.type = 'text'
            icon.classList.add('fa-eye-slash')
            icon.classList.remove('fa-eye')
        } else {
            password_field.type = 'password'
            icon.classList.remove('fa-eye-slash')
            icon.classList.add('fa-eye')
        }
    }
</script>
