<div class="landing-page">
  <div class="heading-landing" style="flex-direction: row; align-content: center;">
    <div class="heading-container">
      <div class="heading-title">Time Sheets</div>
      <div style="align-self: flex-end;margin: 30px">
        <%#= link_to new_user_session_url do %>
        <!--        <Button>Login</Button>-->
        <%# end %>

        <%= form_for(resource, as: resource_name, url: user_session_path()) do |f| %>
          <div style="width: 450px">
            <div style="display: inline;">
              <%= f.label :email, style: 'color: white' %>
              <%= f.email_field :email, autofocus: true %>
            </div>

            <div style="display: inline">
              <%= f.label :password, style: 'color: white' %>
              <%= f.password_field :password, autocomplete: "off" %>
            </div>
          </div>
          <% if devise_mapping.rememberable? -%>
            <div class="field" style="display: inline">
              <%= f.check_box :remember_me, style: 'color: white;' %>
              <%= f.label :remember_me , style: 'color: white'%>
            </div>
          <% end -%>

          <div class="actions" style="display: inline;margin-left: 260px">
            <%= f.submit "Log in" %>
          </div>
        <% end %>

      </div>
    </div>
  </div>
  <div style="display:flex;flex: 1;flex-direction: row;">


    <div class="landing-body">
      <div style="margin: 40px;font-size: 30px">
        Easily record work hours
      </div>
      <div style=" display: flex;justify-content: flex-end; align-items: flex-end; ">
        <%= image_tag 'timesheet.png', height: 200, width: 500, style: 'margin: 40px' %>
      </div>
    </div>
  </div>

  <div class="landing-body-alt">
    <div style=" position: absolute;margin: 40px;font-size: 30px;width: 800px">
     Project Chat with co-workers
    </div>
    <div style="  right: 0px;margin-left: 300px;height: 700px ;display: flex;justify-content: flex-end; align-items: flex-end;">
      <%= image_tag 'chat.png', height: 'auto', width: '50%', style: 'margin: 40px;max-height: 200px' %>

    </div>
  </div>

  <div class="landing-body">
    <div style="margin: 40px;font-size: 30px">
      Invoice work hours
    </div>
    <div style=" display: flex;justify-content: flex-end; align-items: flex-end; ">
      <%= image_tag 'invoice.png', height: 200, width: 500, style: 'margin: 40px' %>

    </div>
  </div>
</div>


</div>


<!--<div class="authform">-->

<%#= form_with(url: user_session_path(resource_name)) do |f| %>
<!--    <div class="field">-->
<!--      <%#= f.label :email %><br/>-->
<%#= f.email_field :email, autofocus: true %>
<!--    </div>-->

<!--    <div class="field">-->
<!--      <%#= f.label :password %><br/>-->
<%#= f.password_field :password, autocomplete: "off" %>
<!--    </div>-->

<%# if devise_mapping.rememberable? -%>
<!--      <div class="field">-->
<%#= f.check_box :remember_me %>
<%#= f.label :remember_me %>
<!--      </div>-->
<%# end -%>

<!--    <div class="actions">-->
<%#= f.submit "Log in" %>
<!--    </div>-->
<%# end %>

<%#= render "users/shared/links" %>

<!--</div>-->
</div>
</div>



<!--<div class="authform">-->
<!--  <h2>Log in</h2>-->

<%= render "users/shared/links" %>
</div>
