<%= link_to 'Google Event Importer', admin_event_importer_path %>
<h2>This week</h2>
<div style="">
<% @grouped_by_user.each do |user| %>

  <div class="box"  style="width: 300px;display: inline-block;margin-right: 10px">
    <div class="user_item" ><%= user[:user] %></div>
    <div class="user_item"><%= user[:hours].round(2) %></div>
  </div>
<% end %>
</div>


<div class="box">
<%#=    line_chart @hours_hash, title: '6 Fortnight Trend', xtitle: "Fortnight", ytitle: "Hours" %>

  <%=    line_chart @hours_hash , max: 90, min: 1,
                    library: { scales: { yAxes: [{ gridLines: { display: true },
                                                   ticks: { maxTicksLimit: 10 } }]}} %>
</div>

<style>
  .user_item{
      padding: 0px 10px
  }
</style>



