<%= form_with(model: [:admin,company], local: true) do |f| %>
  <% if company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
        <% company.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <div class="row">
      <div class="col-sm-2">
        <%= f.label :name, class: "control-label" %>
      </div>
      <div class=" col-sm-7">
        <%= f.text_field :name, class: "form-control" %>
      </div>
    </div>
  </div>


  <div class="form-group">
    <div class="row">
      <div class="col-sm-2">
        <%= f.label :abn, class: "control-label" %>
      </div>
      <div class=" col-sm-7">
        <%= f.text_field :abn, class: "form-control" %>
      </div>
    </div>
  </div>


  <div class="form-group">
    <div class="row">
      <div class="col-sm-2">
        <%= f.label :slug, class: "control-label" %>
      </div>
      <div class=" col-sm-7">
        <%= f.text_field :slug, class: "form-control" %>
      </div>
    </div>
  </div>



  <div class="form-group">
    <div class="row">
      <div class="col-sm-2">
        <%= f.label :email, class: "control-label" %>
      </div>
      <div class=" col-sm-7">
        <%= f.text_field :email, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-sm-2">
        <%= f.label :street_no, class: "control-label" %>
      </div>
      <div class=" col-sm-7">
        <%= f.text_field :street_no, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-sm-2">
        <%= f.label :street, class: "control-label" %>
      </div>
      <div class=" col-sm-7">
        <%= f.text_field :street, class: "form-control" %>
      </div>
    </div>
  </div>


  <div class="form-group">
    <div class="row">
      <div class="col-sm-2">
        <%= f.label :city, class: "control-label" %>
      </div>
      <div class=" col-sm-7">
        <%= f.text_field :city, class: "form-control" %>
      </div>
    </div>
  </div>



  <div class="form-group">
    <div class="row">
      <div class="col-sm-2">
        <%= f.label :suburb, class: "control-label" %>
      </div>
      <div class=" col-sm-7">
        <%= f.text_field :suburb, class: "form-control" %>
      </div>
    </div>
  </div>


  <div class="form-group">
    <div class="row">
      <div class="col-sm-2">
        <%= f.label :state, class: "control-label" %>
      </div>
      <div class=" col-sm-7">
        <%= f.text_field :state, class: "form-control" %>
      </div>
    </div>
  </div>


  <div class="form-group">
    <div class="row">
      <div class="col-sm-2">
        <%= f.label :post_code, class: "control-label" %>
      </div>
      <div class=" col-sm-7">
        <%= f.text_field :post_code, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-sm-2">
        <%= f.label :country, class: "control-label" %>
      </div>
      <div class=" col-sm-7">
        <%= f.text_field :country, class: "form-control" %>
      </div>
    </div>
  </div>




  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
