<div class="box">
<%= link_to 'Edit', edit_admin_company_path(@company),class: "btn btn-default",style: 'position: absolute; right: 5px; top: 15px' %>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>
<p>
  <strong>Abn:</strong>
  <%= @company.abn %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @company.slug %>
</p><p>
  <strong>Slug:</strong>
  <%= @company.email %>
</p>

<p>
  <strong>Street No:</strong>
  <%= @company.street_no %>
</p>

<p>
  <strong>Street:</strong>
  <%= @company.street %>
</p>
<p>
  <strong>Postcode:</strong>
  <%= @company.post_code %>
</p>
<p>
  <strong>Suburb:</strong>
  <%= @company.city %>
</p>

<p>
  <strong>Suburb:</strong>
  <%= @company.suburb %>
</p>

<p>
  <strong>State:</strong>
  <%= @company.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @company.country %>
</p>


</div>
