  <h3><%= chatroom.title %></h3><%= link_to "Join", chatroom_chatroom_users_path(chatroom), method: :post, class: 'btn btn-default' %>
  <%= link_to "Delete", chatroom_path(chatroom), method: :delete, class: 'btn btn-default', data: { confirm: "Are you sure?" } %>
  <%= link_to "Leave Chat", chatroom_chatroom_users_path(chatroom), method: :delete, class: 'btn btn-default', data: { confirm: "Are you sure?" } %>

  <div style="border: 1px solid black; width: 50%;margin: 20px;">
    <% chatroom.users.each do |user| %>
      <div style="margin: 5px">
        <% if user.id == current_user.id %>
          <img src="<%= current_user.avatar %>" alt="" height="30px" width="30px"> Me
        <% else %>
          <img src="<%= user.avatar %>" alt="" height="30px" width="30px"> <%= user.username %> <%= user.email %> <br>
        <% end %></div>
    <% end %>
  </div>
