<div style="height: 100%;overflow: hidden">
<h1><%= @chatroom.title %></h1>
<div class="row"  >
  <%= react_component("HelloWorld", { messages: @messages,user_id: @current_user.id,chatroom_id: @chatroom.id}, { prerender: false }) %>
</div>
<div style="position: absolute; bottom: 10px;background-color: #ffffff">
  <%= form_for [@chatroom, Message.new], remote: true do |f| %>
    <div class="" data-message-id="<%= @chatroom.id %>" style=" position: sticky;">
      <small class="text-muted">From 2 to 1000 characters</small>
      <%= f.text_area :body, class: 'form-control ', autofocus: true, cols: 150, style: 'z-index: -2' %>
      <i style="display: inline" class="fa fa-paper-plane ana pull-right" data-message-id="<%= @chatroom.id %>"></i>
      <%= f.button "Post", class: 'btn btn-default' do %>
        Post
        <span><i class="fa fa-paper-plane"></i></span>
      <% end %>
    </div>
  <% end %>
</div>
</div>
