<table >
  <tr>
    <th>User</th>
    <th>Description</th>
    <th>Start</th>
    <th>Finish</th>
    <th>Date</th>
    <th>Type</th>
  </tr>
  <tbody>
  <% events.each do |event| %>

  <tr>
    <td><%= event.email %></td>
    <td><%= event.description %></td>
    <td><%= event.start&.strftime('%H:%M:%S %d %B %Y') %></td>
    <td><%= event.finish&.strftime('%H:%M:%S %d %B %Y') %></td>
    <td><%= event.date %></td>
    <td><%= event&.time_sheet&.type %></td>
  </tr>
  <% end %>
  </tbody>
</table>
<style>
td{
    border-bottom: lightgrey  solid 1px;
    padding: 2px;
}
th{
    border-bottom: lightgrey  solid 1px;
    border-top: lightgrey  solid 1px;
    padding: 2px;
    font-weight: bold;
}
tr:hover {
    background-color: #ffff99;
}
</style>
