<h1>Event importer</h1>
<%= link_to  user_google_omniauth_authorize_path, class: 'btn btn-default ' do %>
  <span style="font-size: 16px;font-weight: bold">G</span>oogle
  <% end %>

<i class=""></i>
<div><strong>Remote Calendar</strong>
  <% @current_user.identities.each do |identity| %>
    <% if identity.remote_calendar.present? %>
      <%= identity&.remote_calendar&.name %>
      <%= form_tag admin_event_importer_path(identity_id: identity.id), remote: true, method: :get, id: "project_event_importer_form" do %>
        <% project = params[:project_id].present? ? params[:project_id] : @current_user&.time_sheets&.last&.project_id %>
        <div style="width: 200px;display: flex;flex-direction: row">
          <%= select_tag :project_id, options_from_collection_for_select(Project.all, :id, :name, project), class: 'btn btn-default form-control' %>
          <%= submit_tag('Get',class: 'btn btn-default') %>
        </div>
        <%#= hidden_field :data,  %>
      <% end %>
    <% end %>
  <% end %>
</div>

<div id='event-table'>
  <%= render 'index',events: @events %>
</div>
