<%= render 'users/menu' %>

<div class="box">

  <table>
    <thead>
    <tr>
      <th>Superannuation</th>
      <th>Holiday</th>
      <th>Hourly rate</th>
      <th>Gross</th>
      <th colspan="3"></th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @user_pay_obligations.each do |user_pay_obligation| %>
      <tr>
        <td><%= user_pay_obligation.superannuation %>%</td>
        <td><%= user_pay_obligation.holiday %>%</td>
        <td>$<%= user_pay_obligation.hourly_rate %></td>
        <td><%= user_pay_obligation.calculate %></td>
        <td><%= link_to edit_admin_user_pay_obligation_path(user_pay_obligation.user_id, user_pay_obligation) do %>
            <i class='fa fa-edit fa-lg' aria-hidden="true"></i>
          <% end %>

          <%= link_to  admin_user_pay_obligation_path(user_pay_obligation.user_id, user_pay_obligation),
                                                method: :delete ,
                                                data: { confirm: 'Are you sure?' } do %>
          <i class="fa-trash-alt fa-lg"></i>
          <% end %>
          </tr>
    <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Pay Rate', new_admin_user_pay_obligation_path, class: 'btn btn-default' %>
</div>
