<div class="table-responsive">


  <table class="table outline table-striped table-hover">
    <tr class=" grey_background">
      <th>Date worked</th>
      <th>Hours</th>
      <th>Rate</th>
      <th>Description</th>
      <th>Sub Total</th>
    </tr>
    <% work.each_with_index do |time_sheet, i| %>

      <tr>


          <td><%= time_sheet&.time_period&.strftime("%A %b %d ") %></td>
        <td>  <%= seconds_to_hms(time_sheet.hour) %> </td>
        <td><%= time_sheet.user.rate(time_sheet.time_period) %></td>
          <td><%= time_sheet.description %></td>
        <td>$<%= @total_for_user[i].round(2) %></td></tr>
    <% end %>

    <tr>
      <td></td>
      <td>Total Hours <%= @project.sum_time_sheet(@work).round(2) %></td>

      <td></td>

      <td></td>
      <td>Sub Total $<%= @total.round(2) %></td>

    </tr>
    <% invoice_configuration = @company.invoice_configuration %>
    <% if invoice_configuration.present? && invoice_configuration.tax_rate.present? %>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>

          <% tax_amount = (@total * invoice_configuration.tax_rate) %>
          <% @total = @total + tax_amount %>
          <%= invoice_configuration.tax_rate_label %>
          $<%= tax_amount.round(2) %>

        </td>

      </tr>
    <% end %>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>

      <td><strong>Balance $<%= @total.round(2) %></strong></td>

    </tr>
  </table>
</div>
