
<div class="container-fluid">
  <div class="form-horizontal">
    <%= form_for(@customer, remote: true) do |f| %>
        <% if @customer.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this user from being saved:</h2>
              <ul>
                <% @customer.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
            </div>
        <% end %>
      <div class="row">
        <div class="form-group">
          <div class="col-sm-7 ">
            <%= f.submit class: "btn btn-default pull-right" %>
          </div>
        </div>
      </div>


        <div class="form-group">
          <div class="row">
            <div class="col-sm-2">
              <%= f.label :first_name, class: "control-label" %>
            </div>
            <div class=" col-sm-7">
              <%= f.text_field :first_name, class: "form-control" , :autofocus => true%>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-sm-2">
              <%= f.label :last_name, class: "control-label" %>
            </div>
            <div class=" col-sm-7">
              <%= f.text_field :last_name, class: "form-control" %>
            </div>
          </div>
        </div>


        <div class="form-group">
          <div class="row">
            <div class="col-sm-2">
              <%= f.label :street_no, class: "control-label" %>
            </div>
            <div class=" col-sm-7">
              <%= f.text_field :street_no, class: "form-control" %>
            </div>
          </div>
        </div>

      <div class="form-group">
        <div class="row">
          <div class="col-sm-2">
            <%= f.label :email, class: "control-label" %>
          </div>
          <div class=" col-sm-7">
            <%= f.email_field :email, class: "form-control" %>
          </div>
        </div>
      </div>

      <div class="form-group">
          <div class="row">
            <div class="col-sm-2">
              <%= f.label :street, class: "control-label" %>
            </div>
            <div class=" col-sm-7">
              <%= f.text_field :street, class: "form-control" %>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-sm-2">
              <%= f.label :city, class: "control-label" %>
            </div>
            <div class=" col-sm-7">
              <%= f.text_field :city, class: "form-control" %>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-sm-2">
              <%= f.label :state, class: "control-label" %>
            </div>
            <div class=" col-sm-7">
              <%= f.text_field :state, class: "form-control" %>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-sm-2">
              <%= f.label :country, class: "control-label" %>
            </div>
            <div class=" col-sm-7">
              <%= f.text_field :country, class: "form-control" %>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-sm-2">
              <%= f.label :post_code, class: "control-label" %>
            </div>
            <div class=" col-sm-7">
              <%= f.text_field :post_code, class: "form-control" %>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-sm-2">
              <%= f.label :abn, class: "control-label" %>
            </div>
            <div class=" col-sm-7">
              <%= f.text_field :abn, class: "form-control" %>
            </div>
          </div>
        </div>


      <div class="field">
        <%= f.label :content %>
        <%= f.rich_text_area :content %>
      </div>
        </div>
    <% end %>
    </div>
