<div class="btn-group box" style="width: 100%">
  <div style="position: absolute;right: 5px;top:5px"><%= link_to 'Edit', edit_customer_path(@customer), remote: :true, class: 'btn btn-default' %>
  </div>
  <h1><%= @customer.full_name %></h1>
</div>
<div id="customer_partial" class="box">
  <%= render 'details' %>
</div>
<div class="box">
  <%= @customer.content %></div>
</div>
