<li class="shadow clickable project-<%= project.id %>">
<div class="row-li">
  <div class="col-md-5 col-xs-5">
    <h5 class="clickable"> <%= project.name.humanize %></h5>
  </div>
  <div class="col-md-5 col-xs-5">
    <h5>
      <% if project.customer.present? %>
        <%= project.customer.full_name %>
      <% else %>
        <%= 'No Customer Selected' %>
      <% end %>
    </h5>

    <%= link_to 'Show',[:admin, project], class: "hidden" %>
  </div>
  <div class="col-md-1 col-xs-1 user">
    <%= link_to  [:admin,project], data: { confirm: "Are you sure"},method: :delete do %>
        <i class="far fa-trash-alt fa-lg" aria-hidden="true"></i>
    <%end %>
  </div>
</div>

</li>




