<div class="table-responsive">
  <table class="table outline table-striped table-hover">
    <div id="page_links">
      <%#= will_paginate @time %>
    </div>
    <tr class=" grey_background">
      <th>User Name</th>
      <th>Date worked</th>
      <th>Start Time</th>
      <th>Finish Time</th>
      <!--      <th>Rate</th>-->
      <th>HH:MM</th>
      <th>Description</th>
      <!--      <th>Sub Total</th>-->

    </tr>
    <% total = 0 %>
    <% time.each_with_index do |time, i| %>

      <tr>
        <% if time.type == 'TimeSheet::WorkDay' %>
        <td><%= link_to "#{time.user.full_name}", edit_time_sheet_path(time) %></td>
          <% else %>
          <td><%= time.user.full_name %></td>
          <% end %>
        <td><%= time.time_period.strftime("%d/%m/%y ") %></td>
        <td><%= time&.start_time&.strftime('%H:%M') %></td>
        <td><%= time&.finish_time&.strftime('%H:%M') %></td>
        <td>
          <% if time&.finish_time.present? &&  time&.start_time.present? %>
          <% hour = time.finish_time - time.start_time %>
            <% else %>
            <% hour = 0 %>
            <% end %>
          <% total = total + hour %>
          <%= Time.at(hour).utc.strftime("%H:%M") %>
        </td>
        <td><%= time.description %></td>
      </tr>

    <% end %>
    <tr>

      <td></td>
      <td></td>
      <td></td>
      <td></td>


      <td>Total Hours <%= (total / 60 /60 ).round(2)%>
      <td></td>
      </td>

    </tr>
  </table>
  <div id="page_links">
    <%= will_paginate time %>
  </div>
</div>


