<div class="box">
  <div class="container-fluid">

    <div class="row">
<!--      <div class='pull-right'>-->
        <%#= link_to 'New Project',admin_ %>
<!--        <button id="new-project" class="btn btn-primary">New Project</button>-->
<!--      </div>-->
      <h1>Projects</h1>
<!--      <div>-->
<!--          <NewProject id="NewProject" class="new-project">-->

            <%#= render 'form' %>

<!--          </NewProject>-->
<!--        </div>-->
      </div>
    </div>
  </div>




  <%= will_paginate @projects %>
  <ul class="list-clickable">

      <%= render partial:'admin/projects/project', collection: @projects %>
  </ul>
  <%= will_paginate @projects %>


</div>



</div>
