<div class=" box">
  <h1><%= @project.name.capitalize %></h1>
  <h2>Total hours for project <%= Work.total_hours_for_project(@project&.id) %></h2>

</div>
<!--<div class="box">-->
<!--  <div class="btn-group">-->
    <%= link_to 'Edit', edit_admin_project_path(@project), class: 'btn btn-default top-right' %>
    <%#= link_to 'Back', admin_projects_path, class: 'btn btn-default' %>
    <%#= link_to 'GitHub', social_info_index_path(project: @project), class: 'btn btn-default' %>
    <%#= link_to 'Invoices', project_invoices_path(project_id: @project&.id), class: 'btn btn-default' %>
<!--  </div>-->
<!--</div>-->

<div class="box">
  <%= form_tag project_path(@project), method: :get do %>
    <div class="row">
      <div class="btn-group" style="margin-left: 15px">
        <button formaction=" <%= project_path(@project, format: 'csv') %>" ,type="submit" , class="btn btn-default">Csv</button>
        <button formaction=" <%= project_path(@project, format: 'xlsx') %>" ,type="submit" , class="btn btn-default">Excel</button>
        <%= submit_tag "search", class: "btn btn-default " %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-4">
        <%= label_tag :start_date %>
        <%= date_field_tag :start_date, Date.current.beginning_of_month, class: "form-control" %>
        <%= label_tag :end_date %>
        <%= date_field_tag :end_date, Date.current.end_of_month, class: "form-control " %>

      </div>
    </div>
    </div>
    <div>
    <div class="box">


      <div >
        <% @users.each do |user| %>
          <%= link_to user.full_name, project_path(@project, user_id: user.id), class: 'btn btn-default', remote: true %>
        <% end %>
        <%= link_to 'All Users', project_path(@project), class: 'btn btn-default', remote: true %>
      </div>
      <div id='timesheet-for-weeks' style="margin: 15px">
        <%= render 'time_sheets_for_week', time: @time %>
      </div>
  <% end %>
    </div>
    <div class="box">
      <h1>Hours By Day</h1>
     <div id='column-chart'> <%= render 'column_chart' %></div>
    </div>
    <div class="box">
      <h1>Users Hours For This Project</h1>
<!--     <div id="pie-chart">-->
       <%= pie_chart hours_by_user_projects_path(@project,user_id: params[:user_id]) %>
<!--     </div>-->

    </div>


</div>
