<div class="container">
  <div class="form-horizontal">
    <%= form_for(@project) do |f| %>
      <% if @project.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

          <ul>
            <% @project.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <div class="row">
          <div class="col-sm-1">
            <%= f.label :name, class: "control-label" %>
          </div>
          <div class=" col-sm-7">
            <%= f.text_field :name, class: "form-control", :autofocus => true %>
          </div>
        </div>
      </div>
      <div class="form-group">

        <div class="row">
          <div class="col-sm-1">
            <%= f.label :customer, class: "control-label" %>
          </div>
          <div class=" col-sm-7">
            <%= f.select(:customer_id, Customer.all.collect { |c| [c.full_name, c.id] }, {}, class: 'btn btn-default') %>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-s-12" >
          <h2>Home page</h2>
          <%= f.rich_text_area :content %>
        </div>
      </div>
      <div class="actions" style="width: 100%;justify-content: right;display: flex;margin-top: 20px" >
        <%= f.submit class: "btn btn-default" %>
      </div>

      <div>
      </div>
    <% end %>
  </div>
</div>
