<div class="box">
<div id="flash">
  <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
</div>

<h1>Editing <%= @project.name %></h1>
</div>
<div class="box">

  <%= render 'form', project: @project %>
</div>
</div>
