<div class="box">
  <div class="container-fluid">

    <div class="row">
      <div class='pull-right'>
        <%= link_to new_project_path do  %>
        <button class="btn btn-primary">New Project</button>
          <% end %>
      </div>
      <h1>Projects</h1>
      </div>
    </div>
  </div>


  <%= will_paginate @projects %>
  <ul class="list-clickable">
    <div id="book-list">

      <%= render @projects %>
    </div>
  </ul>
  <%= will_paginate @projects %>


</div>



</div>
