<div class=" box">
  <div class="btn-group" style="position: absolute;right: 10px">
    <%= link_to 'Edit', edit_project_path(@project), class: 'btn btn-default' %>
  </div>
  <h1><%= @project.name.capitalize %></h1>
<!--  <h2>Total hours for project <%#= Work.total_hours_for_project(@project&.id) %></h2>-->

</div>

<div class="box" style="position: absolute; bottom: 0px;right: 0px; left: 0px;top:110px">
  <%= @project.content %>
</div>


