<%= react_component("StartTimeButton",
    props={ name: "time_sheet_work_day[#{name}]",
             initial_time: time , time_period: params[:time_period] ,id: name},
  html_options={prerender: true}) %>
