<%= form_for(@time_sheet, remote: true, style: 'position: relative') do |f| %>
  <div id='errors'></div>

  <table class="outline table table-striped table-hover outline " style="  outline: 2px solid #ccc;">
    <tr class="grey_background " id="hours">
      <th style="width: 20%">Start Time</th>
      <th style="width:20%">Finish Time</th>
      <th style="width: 20%">HH:MM</th>
      <th class="small-screen-hide" style="width: 10%"> Invoiced</th>
    </tr>
    <tr style="padding: 0;">
      <% if @time_sheet.invoice_id? %>

        <td colspan="5" class="clickable  " style="margin-bottom: 0px; outline: 2px solid #ccc;">
          <div class="row-li " style="display:flex; flex-direction: row">
            <div class="cell">
              <%= @time_sheet.project.name %>
            </div>
            <div class="cell">
              <%= @time_sheet.start_time&.strftime('%d/%m/%y %I:%M  %p') || 'Not Set' %>
            </div>
            <div class="cell">
              <%= @time_sheet.finish_time&.strftime('%d/%m/%y %I:%M  %p') || 'Not Set' %>
            </div>
            <div class="cell">
              <%= @time_sheet.hour.round(2) %>
            </div>
            <div class="cell small-screen-hide">
              <%= image_tag('tick.png', size: "40x40") %>
            </div>
            <div class="field col-xs-11 col-sm-4" style='padding: 0%'>
              <%= @time_sheet.description %>
            </div>
            <div class="field col-xs-1 col-sm-1">
              <%= link_to "", invoice_path(@time_sheet.invoice_id) %>
            </div>
          </div>
        </td>
        </tr>
        <tr>
          <td colspan="4">
            <div class="row-li" style='padding: 0%'>
              <%= simple_format(@time_sheet.description) %>
            </div>
          </td>
        </tr>
      <% else %>

        <tr class="grey_background " style="  outline: 2px solid #ccc;">
          <td>
            <div id="start_container"  >
              <%= render 'time_sheets/finish_button', time: @time_sheet&.start_time, name: 'start_time' %>
            </div>

          </td>
          <td>
            <div class="field " id="finish_container">
              <%= render 'time_sheets/finish_button', time: @time_sheet&.finish_time, name: 'finish_time' %>

            </div>
          </td>
          <td>
            <div class="field ">
              <%= f.text_field :hour, min: 0, class: 'form-control hours-field', step: 0.01, placeholder: 'Hours' %>
            </div>
          </td>
          <%= f.hidden_field :time_period, value: params[:time_period] %>

          <%= f.hidden_field :project_id, value: params[:project_id] || @time_sheet.project.id %>

          <%= link_to "remove", time_sheet_path(@time_sheet), method: :delete, data: { confirm: 'Are you sure?' }, style: 'text-overflow:hidden' if @time_sheet.id? %>
          </div>
          </td>

          <td class="small-screen-hide">
            <%= image_tag('redcross.png', size: "40x40") if @time_sheet.id.present? %>
          </td>
        <tr>
          <td colspan="5" class="grey_background ">
            <div class="row-li " style='padding: 0%'>
              <%= f.text_area :description, cols: "60", rows: "1", class: 'form-control description-field', placeholder: 'Description' %>
            </div>
          </td>
        </tr>
      <% end %>

      </table>

  </table>
  <div style="width: 100%;position: relative;">
    <div class=" " style="margin-left: auto; margin-right: 0px;width: 270px">

      <% if @current_user.standard_workday.present? %>
        <% unless @time_sheet.invoice_id.present? %>
          <button type="button" onclick="set_standard_workday()" class="btn btn-default">
            <i class="fa fa-business-time"></i> Standard Workday
          </button>
        <% end %>
      <% else %>
        Configure standard work
        hours <%= link_to 'Here', current_user_path, style: 'color: blue;text-decoration: underline !important;' %>
      <% end %>
      <% unless @time_sheet.invoice_id.present? %>
        <%= button_tag :submit, class: 'btn btn-default' do %>
          <i class="fa fa-save"></i>
          Save
        <% end %>
      <% end %>
    </div>
  </div>

<% end %>

<style>
    body {
        position: relative;
    }

    .cell {
        flex-basis: 3000%;
        text-align: center;
        justify-content: center;
    }

    .field_with_errors {
        width: 100%;
    }
</style>


<script type="text/javascript" charset="utf-8">

    function set_standard_workday() {
        let start_time = '<%= @current_user.standard_workday&.start_time %>';
        let finish_time = '<%= @current_user.standard_workday&.finish_time %>';
        let time_period = '<%= params[:time_period] %>'
        let url = '<%= set_standard_work_hours_path() %>';
        $.get({
            url: url,
            data: {
                start_time: start_time,
                finish_time: finish_time,
                time_period: time_period
            },
            dataType: 'script'
        })


    }

    var start_var = document.getElementById('start_container');

    start_var.addEventListener("keydown", function (event) {
        // The parameter event is of the type KeyboardEvent
        event.preventDefault();
        return false;
    });

    var end_var = document.getElementById('finish_container');

    end_var.addEventListener("keydown", function (event) {
        // The parameter event is of the type KeyboardEvent
        event.preventDefault();
        return false;
    });


    $("#start_container").on(" mouseup ", function (e) {

        setTimeout(() => {
            setHours()
        }, 500);
    });
    $("#finish_container").on(" mouseup ", function (e) {
        setTimeout(() => {
            setHours()
        }, 500);
    });


    function setHours() {
        var start_time = document.getElementById("hidden-start_time")
        var finish_time = document.getElementById("hidden-finish_time")
        if (start_time && finish_time) {
            let startMoment = moment(start_time.value);
            let endMoment = moment(finish_time.value)
            let hours = moment.duration(endMoment.diff(startMoment))
            document.getElementById("time_sheet_work_day_hour").value = msToReadableTime(hours)
        }
    }

    function formatDD(dd) {
        return `0${dd}`.slice(-2);
    }

    function msToReadableTime(time) {
        const second = 1000;
        const minute = second * 60;
        const hour = minute * 60;
        let hours = Math.floor(time / hour % 24);
        let minutes = Math.floor(time / minute % 60);
        return formatDD(hours) + ':' + formatDD(minutes)
    }
</script>
