<table class="outline table table-striped table-hover outline " style="  outline: 2px solid #ccc;">
  <tr class="grey_background " id="hours">
    <th style="width: 20%">Project</th>
    <th style="width: 20%">Start Time</th>
    <th style="width:20%">Finish Time</th>
    <th style="width: 20%">HH:MM</th>
    <th style="width: 20%"> Invoiced</th>
  </tr>
  <tr style="padding: 0;">
    <% if @time_sheet.invoice_id? %>

      <td colspan="5" class="clickable  " style="margin-bottom: 0px; outline: 2px solid #ccc;">
        <div class="row-li " style="display:flex; flex-direction: row" >
          <div class="cell">
            <%= @time_sheet.project.name %>
          </div>
          <div class="cell">
            <%= @time_sheet.start_time&.strftime('%d/%m/%y %I:%M  %p')|| 'Not Set' %>
          </div>
          <div class="cell">
            <%= @time_sheet.finish_time&.strftime('%d/%m/%y %I:%M  %p') || 'Not Set' %>
          </div>
          <div  class="cell">
            <%= @time_sheet.hour %>
          </div>
          <div class="cell">
            <%= image_tag('tick.png', size: "40x40") %>
          </div>
          <div class="field col-xs-11 col-sm-4" style='padding: 0%'>
            <%= @time_sheet.description %>
          </div>
          <div class="field col-xs-1 col-sm-1">
            <%= link_to "", invoice_path(@time_sheet.invoice_id) %>
          </div>
        </div>
      </td>
      </tr>
      <tr>
        <td colspan="4">
          <div class="row-li" style='padding: 0%'>
            <%= simple_format(@time_sheet.description) %>
          </div>
        </td>
      </tr>
    <% else %>
      <tr style="  outline: 2px solid #ccc;">
        <td>
          <div class=" " style="padding: 0%;width: 50px">
            <%= @time_sheet.project&.name %>
          </div>
        </td>
        <td>
          <div id="start-container" class=" " style="display: flex; flex-direction: row">
            <%= react_component("StartTimeButton", { name: 'time_sheet[start_time]', initial_time: @time_sheet.start_time, time_period: params[:time_period] ,id: 'start_time'}) %>
          </div>

        </td>
        <td>
          <div class="field " id="end-container">
            <%= react_component("StartTimeButton", { name: 'time_sheet[finish_time]', initial_time: @time_sheet.finish_time, time_period: params[:time_period],id: 'finish_time' }) %>

          </div>
        </td>
        <td>
          <div class="field ">
            <%= text_field_tag 'time_sheet[hour]', min: 0, class: 'form-control hours-field', style:"min-width: 70px", step: :any, placeholder: 'Hours', :autofocus => true %>
          </div>
        </td>
        <%= f.hidden_field :time_period, value: params[:time_period] %>
        <%= f.hidden_field :project_id, value: params[:project_id] %>
        <%= link_to "remove", time_sheet_path(@time_sheet), method: :delete, data: { confirm: 'Are you sure?' }, style: 'text-overflow:hidden' if @time_sheet.id? %>
        </div>
        </td>

        <td>
          <%= image_tag('redcross.png', size: "40x40") %>
        </td>
      <tr>
        <td colspan="5">
          <div class="row-li" style='padding: 0%'>
            <%= text_area_tag :description, cols: "60", rows: "1", class: 'form-control description-field', placeholder: 'Description' %>
          </div>
        </td>
      </tr>
    <% end %>

    <%#= f.fields_for :works do |builder| %>
    <%#= render 'works', f: builder %>
    <%# end %>

    </table>
