<div class="simple-calendar ">
  <div class="calendar-heading ">
    <div class='col-lg-4 col-md-4 col-sm-4 col-xs-4'>
      <%= link_to calendar.url_for_previous_view, style: ' text-align:center', class: "btn btn-default" do %>
        <i class="fa fa-angle-left fa-lg"></i>
        <%= t('simple_calendar.previous', default: 'Previous') %>
      <% end %>
    </div>
    <div style="display: flex;flex-direction: row;justify-content: center">

      <div>
        <%= link_to new_invoice_path(project_id: @project.id) do %>
          <button type=button class="btn btn-default">New Invoice</button>
        <% end %></div>
      <div style="min-width: 200px;">
        <%= form_tag '', method: :get, id: "project_form" do %>
          <%= select_tag :project_id, options_from_collection_for_select(Project.all, :id, :name, @project.id),
                         class: 'btn btn-default form-control', onchange: "$('#project_form').submit()" %>
        <% end %>
      </div>
    </div>

    <div class='col-lg-4 col-md-4 col-sm-4 col-xs-4'>
      <%= link_to calendar.url_for_next_view, style: 'float:right; text-align:right', class: "btn btn-default" do %>
        <%= t('simple_calendar.next', default: 'Next') %>
        <i class="fa fa-angle-right fa-lg"></i>
      <% end %>
    </div>
  </div>
  <div style="width: 100%;">
    <div style="display: flex;flex-direction: row;justify-content: center">
      <% if @project.present? %>
        <div style="display: flex; flex-direction: row;margin-top: 2px;margin-right: 10px">
            <span class="calendar-title col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <%= t('date.month_names')[start_date.month] %> <%= start_date.year %>
    </span>

        </div>
      <% end %>
    </div>
    <table class="table ">
      <thead>
      <tr>
        <% date_range.slice(0, 7).each do |day| %>
          <th><%= t('date.abbr_day_names')[day.wday] %></th>
        <% end %>
      </tr>
      </thead>
      <tbody>
      <% date_range.each_slice(7) do |week| %>

        <tr>

          <% week.each do |day| %>
            <% timesheet = @time_sheets.find_or_initialize_by(time_period: day, project_id: @project&.id) %>

            <% if timesheet.id? && timesheet.type == "TimeSheet::WorkDay" %>

              <% if timesheet.has_invoice? %>
                <%= content_tag :td, class: [calendar.td_classes_for(day), 'has-invoice shadow'] do %>
                  <%= link_to current_day_path(day, project_id: @project&.id), class: 'no-decoration' do %>
                    <%# block.call day, sorted_events.fetch(day, []) %>
                    <%= day.strftime("%d %b") %>
                  <% end %>
                <% end %>
              <% else %>

                <%= content_tag :td, class: [calendar.td_classes_for(day), 'has-time-sheet shadow'] do %>
                  <%= link_to current_day_path(day, project_id: @project&.id), class: 'no-decoration' do %>
                    <%# block.call day, sorted_events.fetch(day, []) %>
                    <%= day.strftime("%d %b") %>
                  <% end %>
                <% end %>
              <% end %>

            <% else %>
              <%= content_tag :td, class: [calendar.td_classes_for(day), 'shadow'] do %>
                <%= link_to current_day_path(day, project_id: @project&.id), class: 'no-decoration' do %>
                  <%# block.call day, sorted_events.fetch(day, []) %>
                  <%= day.strftime("%d %b") %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
          <%# if can? :read, User %>
          <!--          <td>-->
          <%#= button_tag 'Approve' %>
          <%# end %>
        </tr>

      <% end %>
      </tbody>
    </table>
  </div>
</div>
</div>
<script>

</script>
