
<%= react_component("StartTimeButton",
                    props={ name: 'time_sheet_work_day[start_time]',
                            initial_time: time , time_period: params[:time_period] ,id: 'start_time'},
                    html_options={prerender: true}) %>