<div style="min-width: 450px">
  <div class="box">
    <h1>User:  <%= @time_sheet.user.full_name %></h1>
    <h2>Date:   <%= @time_sheet&.time_period&.strftime("%d %A %B %Y") %></h2>
    <h2>Project: <%= @time_sheet&.project&.name %></h2>
  </div>
  <%= render 'days/buttons' %>
  <div class="box" >
    <div id="day_form" >
      <%= render 'time_sheets/form' %>
    </div>
    <!--  <div class="box"><h1>Travel</h1>-->
    <%#= content_tag :div, id: "vehicle_index", class: "time_sheet_class" do %>
    <!--      <script type="text/javascript" charset="utf-8">-->
    <!--          $.get({-->
    <!--              url: "<%#=  vehicles_path(time_period: params[:time_period],-->
<!--              project_id: params[:project_id]) %>",-->
    <!--              dataType: 'script'-->
    <!--          });-->

    <!--          $.get({-->
    <!--              url: "<%#=  travels_path(time_period: params[:time_period],project_id: params[:project_id])%>",-->
    <!--              dataType: 'script'-->
    <!--          })-->
    <!--      </script>-->
    <%# end %>
    <!--    <div id="travel_table"></div>-->
    <!--    <div id="travel_index"></div>-->

    <!--  </div>-->
  </div>
</div>
