<%# if can? :read, User %>
<%#= form_tag '', method: :get,  class: 'form-group row' do %>
<!--  <div class="col-lg-4">-->
<%#= select_tag(:user_id, options_for_select(User.select_attributes), class: ' btn btn-default form-control') %>
<!--  </div>-->
<%#= submit_tag 'Search', class: 'btn btn-default' %>
<%# end %>
<%# end %>

<% if @project.present? && @company.customers.present? && @company.name %>

  <%= my_calendar do |date| %>
    <%= date.strftime("%d  %b") %>
  <% end %>
<% else %>
  <div style="width: 100%;height:100%;position: relative">
    <div style="margin: auto; width: 350px;justify-content: center;position: relative;text-align: center">
       <div style="margin-left: auto; margin-right: auto"> <h1 >Before you begin</h1></div>
      <% unless @company.customers.present? %>
        <div>
          <%= link_to new_customer_path do %>
            <button type="button" class="btn btn-info onboard_button">Create Your First Customer</button>
          <% end %>
        </div>
      <% end %>
      <div>
        <%= link_to new_project_path do %>
          <button type="button" class="btn btn-info onboard_button">Create Your First Project</button>
        <% end %>
      </div>
      <% if @company.name.nil? && @current_user.has_role?(:admin) %>
        <%= link_to 'Set Company Name', edit_admin_company_path(current_user.company) ,class: 'btn btn-info onboard_button' %>
      <% end %>

    </div>
  </div>
<% end %>

<style>
    .onboard_button {
        width: 300px;
        margin: 10px;
    }
</style>
