<div class="box">
<p>
  <h1>Time Sheet for  <%= @time_sheet&.time_period&.strftime("%A %d %B %Y") %> Project <%= @project.name %></h1>
</p>
</div>
<%= render 'days/buttons' %>
<div id="time_sheet_partial" >
  <%= render 'edit' %>
<!--  <div class="box">-->
    <%#= render 'commits' rescue '' %>
<!--  </div>-->
</div>
