<div style="display: flex; flex-direction: row;justify-content: space-between;padding: 8px;margin-left: -8px" class="calendar-heading">
  <div>
    <%= link_to current_day_path(@time_sheet.time_period - 1.day, project_id: @time_sheet.project_id), class: 'btn btn-default' do %>
      <i class="fa fa-arrow-left"></i>
      Previous Day
    <% end %>
  </div>
  <div>
      <%= link_to root_path(project_id: @time_sheet.project_id), class: 'btn btn-default' do %>
        <i class="fa fa-calendar"></i>
        Calender
      <% end %>
  </div>
  <div>
    <%= link_to current_day_path(@time_sheet.time_period + 1.day, project_id: @time_sheet.project_id), class: 'btn btn-default' do %>
        Next Day
        <i class="fa fa-arrow-right"></i>
      <% end %>
  </div>
</div>
