//$('#travel_index').html("<%= j render "index" %>")
$('#start-container').html(" <%= j react_component("StartTimeButton", { name: 'time_sheet[start_time]', initial_time: @time_sheet.start_time , time_period: params[:time_period] ,id: 'start_time'}) %>")
$('#end-container').html("<%= j react_component("StartTimeButton", { name: 'time_sheet[finish_time]', initial_time: @time_sheet.finish_time, time_period: params[:time_period],id: 'finish_time' }) %>")
