<div class="simple-calendar ">
      <%= render 'days/buttons' %>
  </div>
<div class="box" style="min-width: 375px;overflow: hidden;height: 280px;">


  <div style="position: relative;">

    <br>
    <div style="position: relative; display: flex;flex-direction: row">
      <div class="timesheet-header" style="font-size: 20px;">
        <%= @time_sheet&.time_period&.strftime("%d %A %B %Y") %>
      </div>
      <div style="font-size: 20px;text-align: right; width: 400px">
      <div style="display: flex;flex-direction: row;  justify-content: flex-end ">  <i style="margin: 5px" class="fa fa-tasks" ></i><div> <%= @time_sheet&.project&.name&.humanize %></div></div>
      </div>
    </div>
    <div id="day_form" style="position: relative;">
      <%= render 'time_sheets/form' %>
    </div>
  </div>
</div>
<style>
    .timesheet-header {
        width: 100%;
        font-size: 18px;
    }
</style>
