$( document ).on('turbolinks:load', function() {

    setHours();
})
$('#start_container').html('<%= j render 'time_sheets/finish_button', time: @start_time, name: 'start_time' %>')
$('#finish_container').html('<%= j render 'time_sheets/finish_button', time: @finish_time, name: 'finish_time' %>')

ReactRailsUJS.mountComponents()
