<div class="container-fluid">
  <div class="form-horizontal">
<%= form_for(identity) do |f| %>
  <% if identity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(identity.errors.count, "error") %> prohibited this identity from being saved:</h2>

      <ul>
      <% identity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <div class="row">
      <div class="col-sm-2">
    <%= f.label :provider, class: "control-label" %>
      </div>
      <div class=" col-sm-7">
    <%= f.text_field :provider, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-sm-2">
    <%= f.label :image_url , class: "control-label"%>
      </div>
      <div class=" col-sm-7">
    <%= f.text_field :image , class: "form-control"%>
      </div>
    </div>
  </div>
  <div class="actions" style="width: 100%;text-align: right;margin-top: 20px;">
    <%= f.submit(class: 'btn btn-default')%>
  </div>
<% end %>
  </div>
</div>
