
<h1>Identities</h1>

<table class="table">
  <thead>
    <tr>
      <th>Provider</th>
      <th>Username</th>
      <th>Image</th>
      <th width="300px"></th>
    </tr>
  </thead>

  <tbody>
    <% @identities.each do |iden| %>
      <tr>
        <td><%= iden.provider %></td>
        <td><%= iden.username %></td>
        <td><%= image_tag iden.image, size: 30 %></td>
        <td><%= link_to 'Show', iden , class: "btn btn-default" %>
        <%= link_to 'Edit', edit_identity_path(iden),class: "btn btn-default" %>
        <%= link_to 'Destroy', iden, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to  user_google_omniauth_authorize_path, class: 'btn btn-default ' do %>
  <span style="font-size: 16px;font-weight: bold">G</span>oogle
<% end %>
<%#= link_to 'acebook', '/admin/auth/facebook', class: 'btn btn-default fa fa-lg fa-facebook' %>
<%#= link_to ' GitHub', '/admin/auth/github', class: 'btn btn-default fa fa-lg fa-github' %>

