<div class="box" style="position: relative;">
  <%= link_to 'Edit', edit_identity_path(@identity), class: 'btn btn-default',style: 'position: absolute; right: 5px;top: 5px '%>

<h2>
  <strong>Provider:</strong>
  <%= @identity.provider %>
</h2>

<p>
  <strong>Image:</strong>
  <%= image_tag @identity.image ,size: 30 %>
</p>

<div>
  <strong>Remote Calendar</strong>
    <%= react_component 'RemoteCalendar',{identity_id: @identity.id,default_calendar: {id: @identity&.remote_calendar&.id,remote_system_id: @identity&.remote_calendar&.remote_system_id,name: @identity&.remote_calendar&.name} } %>
</div>
</div>
