<div class="box" id="user-form" >
  <div style="padding: 10px">
    <%= render 'form' %>
  </div>
</div>
<% if can? :edit, StandardWorkday %>
<div id='standard-workday-form'>
 <%= render 'standard_workdays/form', standard_workday: StandardWorkday.find_or_initialize_by(user_id: @current_user.id) %>
</div>
  <% end %>
<!--<script type="text/javascript" charset="utf-8">-->
<!--  $.get({-->
<!--      url: 'edit_standard_workday',-->
<!--      dataType: 'script'-->
<!--  })-->
<!--</script>-->
