<%= form_with(model: [:admin, invoice_configuration], local: true) do |form| %>
  <% if invoice_configuration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(invoice_configuration.errors.count, "error") %> prohibited this invoice_configuration from being
        saved:</h2>

      <ul>
        <% invoice_configuration.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="container-fluid">


      <div class="form-group">
        <div class="row">
          <div class="col-sm-2">
            <%= form.label :standard_period , class: "control-label"%>
          </div>
          <div class=" col-sm-7">
          <div style="width: 100px;display: flex; flex-direction: row">  <%= form.number_field :standard_period , class: "form-control"%> <div style="margin: 5px">Days</div></div>
          </div>
        </div>
      </div>


      <div class="form-group">
        <div class="row">
          <div class="col-sm-2">
            <%= form.label :disclaimer, class: "control-label" %>
          </div>
          <div class=" col-sm-7">
            <%= form.text_area :disclaimer, class: "form-control" %>
          </div>
        </div>
      </div>


      <div class="form-group">
        <div class="row">
          <div class="col-sm-2">
            <%= form.label :start_date, class: "control-label" %>
          </div>
          <div class=" col-sm-7">
            <%= form.datetime_select :start_date, class: "form-control" %>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-sm-2">
            <%= form.label :tax_rate, class: "control-label" %>
          </div>
          <div class=" col-sm-7">
 <div style="width: 100px">
   Tax Label     <%= form.text_field :tax_rate_label, class: "form-control" %>
   Tax Rate    <%= form.number_field :tax_rate, :step => "0.01" , class: "form-control" %>
 </div>
          </div>
        </div>
      </div>

  <br>
      <div class="form-group">
        <div class="row">
          <div class="col-sm-2">
            <div class="actions">
              <%= form.submit %>
            </div>
          </div>
        </div>
      </div>

<% end %>
