<p id="notice"><%= notice %></p>

<p>
  <strong>Company:</strong>
  <%= @invoice_configuration.company_id %>
</p>

<p>
  <strong>Project:</strong>
  <%= @invoice_configuration.project_id %>
</p>

<p>
  <strong>Standard period:</strong>
  <%= @invoice_configuration.standard_period %>
</p>

<p>
  <strong>disclaimer:</strong>
  <%= @invoice_configuration.disclaimer %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @invoice_configuration.start_date %>
</p>

<%= link_to 'Edit', edit_invoice_configuration_path(@invoice_configuration) %> |
<%= link_to 'Back', invoice_configurations_path %>
