<%= form_with(model: remote_calendar, local: true) do |form| %>
  <% if remote_calendar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(remote_calendar.errors.count, "error") %> prohibited this remote_calendar from being saved:</h2>

      <ul>
        <% remote_calendar.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :identity_id %>
    <%= form.text_field :identity_id %>
  </div>

  <div class="field">
    <%= form.label :company_id %>
    <%= form.text_field :company_id %>
  </div>

  <div class="field">
    <%= form.label :remote_system_id %>
    <%= form.text_field :remote_system_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
