<p id="notice"><%= notice %></p>

<h1>Remote Calendars</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Identity</th>
      <th>Company</th>
      <th>Remote system</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @remote_calendars.each do |remote_calendar| %>
      <tr>
        <td><%= remote_calendar.name %></td>
        <td><%= remote_calendar.identity_id %></td>
        <td><%= remote_calendar.company_id %></td>
        <td><%= remote_calendar.remote_system_id %></td>
        <td><%= link_to 'Show', remote_calendar %></td>
        <td><%= link_to 'Edit', edit_remote_calendar_path(remote_calendar) %></td>
        <td><%= link_to 'Destroy', remote_calendar, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Remote Calendar', new_remote_calendar_path %>
