<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @remote_calendar.name %>
</p>

<p>
  <strong>Identity:</strong>
  <%= @remote_calendar.identity_id %>
</p>

<p>
  <strong>Company:</strong>
  <%= @remote_calendar.company_id %>
</p>

<p>
  <strong>Remote system:</strong>
  <%= @remote_calendar.remote_system_id %>
</p>

<%= link_to 'Edit', edit_remote_calendar_path(@remote_calendar) %> |
<%= link_to 'Back', remote_calendars_path %>
