.landing-page{
  min-width: 700px;
  margin: 0px;

  .show_password_button{
    background: white;
    color: black!important;
    padding: 4px;
    position: absolute;
    right: 15px;
    top: 2px;
  }
  .heading-landing{
    padding: 0px;
    margin: 0px;
    width: 100%;
    position: absolute;
    top: 0px;
    .heading-container{
      background: black;
      display: flex;
      flex-direction: row;
    }
    .heading-title{
      width: 100%;
      padding: 10px 20px;
      font-family: "Georgia", Times, serif;
      color: white;
      background: black;
      font-size: 40px;
      height: 80px;
    }
  }
  .landing-body{

    height: 400px;
    background: #333;
    width: 100%;
    color: white;
  }
  .landing-body-alt{
    height: 500px;
    border: 5px solid black;
    background: white;
    width: 100%;
    color: black;
  }

}
