.chat-notify-dropdown{
  border: 1px solid white;
}


#messages {
  //max-height: 850px;
  //overflow-y: auto;
  //.avatar {
  //  margin: 0.5rem;
  //}
}

.message-container {


}
.message{
  width: fit-content;
  border-radius: 5px;
  padding: 5px;
  background-color: #33b5e5;

}
.message-current-user{
  display: block;
  margin: 10px 10px 0px auto;

  img {
    position:  absolute;
    right: 20px
    //margin-left: auto;
    //margin-right: 10px;
  }
  .message-top-row{
    height: 50px;
  }
  .message-body{
    margin-right: auto;
    margin-left: 0px;
    padding-right: 60px;
  }
}
.message-user{
  display: block;
  margin: 10px 0px;
  .message-body{
    margin-left: auto;
  }
}
.message-top-row{
  display: flex;
  flex-direction: row;

}
.message-body{
  word-wrap: break-word;
  margin-left: auto;
  margin-right: 10px;
}


.message-bottom-row{
  //display: flex;
  //flex-direction: row;
  font-size: 10px;
  //@extend .bb;
  display: flex;
  flex-direction: row;
}
.message-time{
  right: 0px;
}
.message-username{
  margin-right: 20px;
}
.message-time{
  margin-left: auto;
}

.bb{
  border: 1px solid black;
}

.message_input {
  background: #FFF;
  position: relative;
  padding: 10px 10px 40px 10px;
  border-radius: 20px 20px 0 20px;
}

.message_input > textarea {
  border: none;
  background: none;
  min-height: 100px;
}

.message_input > button[type="submit"] {
  position: absolute;
  right: 15px;
  bottom: 15px;
  margin: 0;
}

.message_input > .solved {
  position: absolute;
  width: auto;
  box-shadow: none;
  bottom: 15px;
  left: 15px;
}

.message_input > .solved > input {
  width: auto;
  box-shadow: none;
  display: inline-block;
  vertical-align: bottom;
  line-height: 1;
  padding: 0;
  margin: 0;
  height: auto;
}

.message_input > .solved > label {
  display: inline-block;
  vertical-align: bottom;
  margin-left: 9px;
  font-size: 12px;
  color: #CCC;
}

.demo-pli-clock:before {
  content: "\e913"
}

.icon-fw {
  width: 1.33em;
  margin-right: 4px;
  text-align: center;
}

.img-circle {
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
}

.img-sm {
  width: 46px;
  height: 46px;
}

.timestamp {
  float: right;
  color: #dddddd;
}
