// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//.message-form {
//  display: none;
//}
div.test {
  display: none;
}

.new-project {
  display: none;
  width: 100%;
  padding-left: 10px;
}
li.shadow {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 19px;
}

li.darkShadow {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: grey;
;
}
li.background {
  //background-color: grey;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.6), 6px 12px 30px 0 rgba(0, 0, 0, 0.19);
  //font-size: 150%;


}
li.clickable:active {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: translateY(4px);
}

td.shadow:active {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: translateY(4px);
}

td.clickable:active {
  //box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: inset 0 0 10px #000000;
  transform: translateY(4px);
}

td.has-invoice:active {
  //box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: inset 0 0 10px #000000;
  transform: translateY(4px);
}

td.has-time-sheet:active {
  //box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: inset 0 0 10px #000000;
  transform: translateY(4px);
}

.has-time-sheet {
  background-image: image-url('redcross.png');
  background-position: 50% 80%;
  background-size: 70% 60%;
  background-repeat: no-repeat;
  margin-bottom: 5px;

}

.has-invoice {
  background-image: image-url('tick.png');
  background-position: 50% 80%;
  background-size: 60% 60%;
  background-repeat: no-repeat;

}
