.time-dropdown{
  //position: initial;
  .dropdown-display-row{
    position: initial;
    display: flex;
    flex-direction: row;
  }
  .dropdown-menu{
    width: 200px;
    z-index: 99;
  }
  .dropdown-item{
    width: 40px;
    text-align: center;
    margin-right: 40px;
  }
  .dropdown-row{

    display: flex;
    flex-direction: row;
    z-index: 99;
  }
  .dropdown-hours-column{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 120px;
    overflow-x: hidden;
    width: 170px;


  }

  //.dropdown-menu
  //position: absolute;
  //top:
  .dropdown-item:hover{
    background: #7C7C7C;

  }
}
@media screen and (max-width: 600px) {
  .time-dropdown {
    position: initial !important;

    .dropdown-display-row {
      position: initial !important;
      //display: flex;
      //flex-direction: row;


      .dropdown-menu {
        width: auto;
        position: fixed !important;
        top: 140px;
        left: 40px;
        right: 40px;
        //width: 300px!important;
        //right: 40px  !important;
        //width: 100%;
        z-index: 9999;
      }

      //.dropdown-item {
      //  width: 70px;
      //  text-align: center;
      //  margin-right: 50px;
      //  font-size: 18px;
      //}

      .dropdown-row {
        display: flex;
        flex-direction: row;
        justify-content: center;


        .dropdown-hours-column {

          cursor: pointer;
          //display: flex;
          flex-direction: column;
          height: 250px;
          overflow-x: hidden;
          width: 100px;
          font-size: 30px;
          //justify-content: center;
          align-items: center;
        }
      }


      .dropdown-item:hover {
        background: #7C7C7C;

      }
    }
  }
}
