// Place all the styles related to the TimeSheets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.no-decoration{
  text-decoration: none;
  pointer-events:none;

}
.simple-calendar {
   .calendar-heading {
     background-color: aquamarine;
     padding: 5px  0px;
     display: flex;
     flex-direction: row;
     align-items: center;
     margin-left: -10px;
     margin-right: -10px;
     margin-top: -5px;
   }

  .calendar-title{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
  }

  table {
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
    background-color: rgba(0, 0, 0, 0);
    //border: 1px solid rgb(221, 221, 221);
    border-collapse: separate;
    border-spacing: 5px;

    //box-sizing: border-box;
    max-width: 100%;
    width: 100%;
  }

  tr {
  }

  th {
    border-collapse: collapse;
    border-spacing: 0px!important;
    text-align: center;
    border: 0px solid rgb(221, 221, 221) !important;
    //border-radius: 10px;
  }

  td {

    color: black;
    vertical-align: top;
    width: 14%;

    border: 1px solid rgb(221, 221, 221);
    border-radius: 10px;

    //border-right-color: rgb(221, 221, 221);
    //border-right-style: solid;
    //border-right-width: 1px;
    //border-bottom-color: rgb(221, 221, 221);
    //border-bottom-style: solid;
    //border-bottom-width: 1px;
    //border-left-color: rgb(221, 221, 221);
    //border-left-style: solid;
    //border-left-width: 1px;
    a {
      color: black;
    }
    &:hover {
      color: white;
      background-color: gray;
      z-index: -1;

    }
  }

  .day {
    height: 80px;

  }

  .wday-0 {
    background-color: lightgray;
    z-index: -1;
  }
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {
    background-color: lightgray;
    z-index: -1;
  }

  .today {
    background-color: lightgreen;
    z-index: -2;
  }


  .past {}
  .future {}

  .start-date {}

  .prev-month {
    background-color: #DDD;
    z-index: -1;
  }
  .next-month {
    background-color: #DDD;
    z-index: -1;
  }
  .current-month {}

  .has-events {}
}
