
<div   class="form-group " >

  <div class="row">
    <div class="col-sm-2">
      <%= label_tag 'password','Password', class: "control-label" %>
    </div>
    <div class=" col-sm-7">
      <%= password_field_tag 'user[password]', value: '', class: "form-control" %>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-2">
      <%= label_tag 'password_confirmation','Password Confirmation', class: "control-label" %>
    </div>
    <div class=" col-sm-7">
      <%= password_field_tag 'user[password_confirmation]', class: "form-control" %>
    </div>
  </div>
</div>
