<div class="box">
<div class='pull-right '  >
  <%= link_to 'New User', new_admin_user_path, class: 'btn btn-default' %>
</div>
<h1>Users</h1>


  <NewProject id="NewProject" class="new-project">
    <%= render 'users/form' %>
  </NewProject>

</div>
<%= will_paginate @users %>
<ul class="list-clickable">
  <div id="user-list">

    <%= render partial: 'admin/users/user', collection: @users %>
  </div>
</ul>
<%= will_paginate @users %>

