<%= render 'users/menu' %>
<div class="box">

  <%= form_tag remote: true, url: admin_user_user_permission_path(@user) do %>
    <div class="row outline">
      <div class="col-xs-2">
        Model
      </div>
      <div class="col-xs-2">
        Read
      </div>
      <div class="col-xs-2">
        Edit
      </div>

    </div>
    <% User::PERMISSIONS.each do |model, permission| %>
      <div class="row">
        <div class="col-xs-2">
          <%= model %>
        </div>
        <%= check_box_tag "#{model}_#{:edit}", '', @user.has_role?(:edit, model.classify.constantize) %>

        <div class="col-xs-2">
          <%= check_box_tag "#{model}_#{:read}", '', @user.has_role?(:read, model.classify.constantize) %>

        </div>
      </div>
    <% end %>

    <%= submit_tag 'Save', class: 'btn btn-default' %>

  <% end %>
</div>

</div>

<style>
  .col-xs-2{
      width: 300px
  }
</style>
