<%= render 'menu' %>

<div class="box">
  <div class="row">

    <%= form_tag admin_user_user_income_path(@user), method: :get do %>

      <div class="btn-group col-md-5 pull-left">
        <div class="dropdown show">
          <a class="btn btn-default dropdown-toggle pull-left" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Select Projects
          </a>

          <%= button_tag 'search', class: 'btn btn-default', id: 'search', remote: true %>
          <%= button_tag 'csv', formaction: admin_user_user_income_path(@user, format: 'csv'), class: 'btn btn-default' %>
          <%= button_tag 'pdf', formaction: admin_user_user_income_path(@user, format: 'pdf'), class: 'btn btn-default'%>
          <%= button_tag 'excel', formaction: admin_user_user_income_path(@user, format: 'xlsx'), class: 'btn btn-default' %>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" style='overflow: hidden;'>

            <%= select_tag(:project_search, options_for_select(Project.select_attributes, params[:project_search]),
                           size: Project.select_attributes.length + 1,
                           multiple: true,
                           :include_blank => true,

                           style: ' width: 100%',
                           ) %>
          </div>
        </div>
      </div>

      <div class="col-md-2">
        <div class="form-group">
          <%= label_tag :start_date %>
          <%= date_field_tag :start_date, params[:start_date], class: "form-control" %>


          <%= label_tag :end_date %>
          <%= date_field_tag :end_date, params[:end_date], class: "form-control" %>
        </div>
      </div>

      </div>
    <% end %>


    <h1>Total Income <%= @sub_total[:total] %>
      Superannuation <%= @sub_total[:superannuation] %>
    </h1>

    <div id="user_income">
      <div id="page_links">
        <%= will_paginate @user_table, remote: true, format: :js %>
      </div>
      <%= render 'users/all_user_work' %>

      <div id="page_links">
        <%= will_paginate @user_table, remote: true %>
      </div>

    </div>

    </div>
<script type="text/javascript">

</script>
</div>
