<div class="box">
  <h1>Standard WorkDay</h1>
  <%= form_with(model: standard_workday, local: true, id: :standard_workday_form) do  %>
    <% if standard_workday.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(standard_workday.errors.count, "error") %> prohibited this standard_workday from being saved:</h2>

        <ul>
          <% standard_workday.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>


    <div>StartTime:  <%= react_component("StartTimeButton", props={ name: 'standard_workday[start_time]', initial_time: standard_workday&.start_time , id: 'start_time'}) %></div>
    <div>FinishTime:  <%= react_component("StartTimeButton", props={ name: 'standard_workday[finish_time]', initial_time: standard_workday&.finish_time , id: 'finish_time'}) %></div>
    <div class="actions">
      <button type="button" onclick="$('#standard_workday_form').submit()">Save</button>
    </div>
    </div>

  <% end %>

</div>
  <script type="text/javascript" charset="utf-8">

    function setHours(){
      return true
    }
  </script>
