<p id="notice"><%= notice %></p>

<h1>Standard Workdays</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @standard_workdays.each do |standard_workday| %>
      <tr>
        <td><%= link_to 'Show', standard_workday %></td>
        <td><%= link_to 'Edit', edit_standard_workday_path(standard_workday) %></td>
        <td><%= link_to 'Destroy', standard_workday, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Standard Workday', new_standard_workday_path %>
