<% if signed_in? %>
  <div id="menuhides" class="box" style="height:100%;position: fixed;top: 45px;left:-5px; z-index: 2;padding-top: 20px">
    <ul class="menu">

         <li  class="clickable"><i class="fa fa-home fa-lg icon"></i><%= link_to 'Calendar', root_path, class: 'no-decoration' %>
      <% if can? :read, Company %>
         <li  class="clickable">
          <i class="fa fa-globe fa-lg icon"></i><%= link_to ' Company', admin_company_path(current_user.company), class: 'no-decoration' %>
        </li>
      <% end %>
       <li  class="clickable">
        <i class="fa fa-globe fa-lg icon"></i><%= link_to ' Projects', admin_projects_path(), class: 'no-decoration' %>
      </li>
       <li  class="clickable">
        <i class="fa fa-globe fa-lg icon"></i><%= link_to ' Invoice Configuration', admin_invoice_configurations_path(), class: 'no-decoration' %>
      </li>

      <% if current_user.has_role? :admin %>
         <li  class="clickable"><i class="fa fa-users icon"></i><%= link_to 'Users', admin_users_path, class: 'no-decoration' %></li>
      <% end %>
    </ul>
  </div>
<% end %>
