<% if signed_in? %>

  <div id="menuhides" style="height:100%;position: fixed;top: 53px;left:0px; z-index: 10;">
    <ul class="menu">
      <% if can? :read, TimeSheet %>
        <li  class="clickable">
          <i class="fa fa-calendar fa-lg icon"></i><%= link_to 'Timesheets', time_sheets_path, class: 'no-decoration' %>
        </li>
      <% end %>
      <% if can? :read, Invoice %>
        <li  class="clickable"><i class="fa fa-file fa-lg icon"></i></i><%= link_to 'Invoices', invoices_path, class: 'no-decoration' %>
        </li>
      <% end %>
      <% if can? :read, Project %>
        <li  class="clickable"><i class="fa fa-tasks fa-lg icon"></i><%= link_to 'Projects', projects_path, class: 'no-decoration' %></li>
      <% end %>
      <% if can? :read, Customer %>
        <li  class="clickable">
          <i class="fa fa-address-card icon"></i> <%= link_to 'Customers', customers_path, class: 'no-decoration' %>
        </li>
      <% end %>
      <li  class="clickable">
        <i class="fa fa-hashtag fa-lg icon"></i><%= link_to 'Media Accounts', identities_path, class: 'no-decoration' %>
      </li>
      <li  class="clickable">
        <i class="fa fa-comment fa-lg icon"></i><%= link_to 'Chat Rooms', chatrooms_path, class: 'no-decoration' %>
      </li>
      <% if current_user.has_role? :admin %>
        <li  class="clickable"><%= image_tag 'users-cog-solid',size: 25,style: "margin: -8px 10px  -5px 0px; " %><%= link_to 'Admin', admin_dashboard_path, class: 'no-decoration' %>
      <% end %>
    </ul>
    <h5>Chat Rooms </h5>
    <div style="overflow-y: auto">
      <ul class="menu">
        <% current_user.chatrooms.each do |chatroom| %>
          <%= link_to chatroom, data: { behavior: "chatroom-link", chatroom_id: chatroom.id } do %>

            <li class="chatmenu">
              <p style="color: white"><%= chatroom.title %></p>
              <div style="background-color: #ffffff; color: blue;border-radius: 10px;padding: 0px 5px; width: 19px;position: absolute; right: 25px">
                <% chatroom.users.where.not(id: current_user.id).count %></div>
              <div style=" background-color: #ffffff;border-radius: 2px; padding: 5px;margin-top: 10px;">
                <% chatroom.users.where.not(id: current_user.id).each do |user| %>
                  <span style="color: black"><img src="<%= user.avatar %>" alt="" height="30px" width="30px"> <%= user.full_name&.titleize %></span>
                <% end %>
              </div>
          <% end %>
          </li>
        <% end %>
      </ul>
<% end %>
