<!DOCTYPE html>
<html>
<head>
  <title>Time Sheet <%= current_user&.company&.name %></title>
  <meta name="turbolinks-cache-control" content="no-cache">

  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body data-user="<%= current_user.id if current_user.present? %>">


  <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="border-bottom: 2px solid grey;vertical-align: center">
    <div class="container-fluid" style="background-color: black !important; color: white">
      <div class="navbar-header" style="position: absolute; left: 5px;top:3px;color: white">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <% if signed_in? %>
          <a href="#" class="navbar-btn btn btn-success pull-left" id="menu-toggle" style="margin-right:  20px">Menu</a>
          <div class="navbar-brand " style="color: white;font-size: 40px; font-family: Georgia, serif;font-style: italic ">
          <span class="small-screen-hide"><%= current_user&.company&.name %></span></div>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <p class="navbar-text pull-right" style="color: white">
            <% if user_signed_in? %>
              <%= link_to current_user_path(current_user), class: 'user_link', style: 'text-decoration: none;cursor:pointer;' do %>
                <%= image_tag current_user.avatar, width: 26 %>
                <span style="color: white">  Logged in as <strong><%= current_user.full_name %></strong></span>
              <% end %>
              <%= link_to "Logout", destroy_user_session_path(), method: :delete, :class => 'navbar-link user_link', style: "color: white; text-decoration: none;cursor:pointer;" %>
            <% else %>
              <%= link_to "Login", new_session_path, :class => 'navbar-link user_link', style: "color: white; text-decoration: none;" %>
              |
            <% end %>
            </div>


      <% end %>
      </div>
</nav>
<%= render 'layouts/admin_sidebar' %>


<div id="body-div" class="body-div ">
  <%= yield %>

</div>
</div>

</body>

</html>
<style>
    .user_link:hover {
        background-color: transparent;

    }

    .user_link {


    }

    .chatmenu {
        padding: 8px;
        margin-bottom: 7px;
        background-color: #33b5e5;
        color: #ffffff;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

    }

    .icon {
        margin-right: 10px;
    }
</style>
